.Badge {
  position: absolute;
  top: 12px;
  left: 145px;
  @media (max-width: 800px) {
      display: none;
  }
}

.Left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

