
.Badge{
    position: absolute;
   top:12px;
  left:22.5%;
  
  }
  .Line{
    position: absolute;
    top:45px;
    left: 0%;
  }
.Left{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media(max-width:800px){
.Badge{
      display: none;
  }
  .Left{
    flex-direction: column
  }
}
