.Button {
  box-sizing: border-box;
  width: 190px;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding-bottom: 10px;
  padding-top: 10px;

  font-weight: bold;
  text-align: center;
  border-radius: 4px;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}
.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}
.info {
  background-color: rgb(0, 188, 212);
  text-align: center;
  margin-bottom: 10px;
  box-shadow: 0px 5px 13px rgba(0, 188, 212, 0.35)
}
.info:hover{
  
  box-shadow: 0px 8px 20px rgba(0, 188, 212, 0.25);
}
.apple{
  background: #607D8B;
  background-image: url('../../../assets/buttom/ios.png');
  background-position: left;
  height:48px;
  width: 213px;
  background-repeat: no-repeat; 
  box-shadow: 0px 5px 12px rgba(96, 125, 139, 0.3);
  background-position-y: 5px;
  background-size: contain ;
  text-align: right;
  margin:20px 15px;

}
.android{
  background-color: #85C02B;
  background-image: url('../../../assets/buttom/android.png');
  background-position: left;
  height:48px;
  width: 213px;
  box-shadow: 0px 5px 15px rgba(101, 160, 4, 0.5);
  background-repeat: no-repeat; 
  background-size: contain ;
  background-position-y: 10px;
  text-align: right;
  margin:20px 15px;
}
.android:hover{
  background-position-y: 5px;
  box-shadow: 0px 8px 20px rgba(101, 160, 4, 0.4);
}
.apple:hover{
  background-position-y: 0px;
  box-shadow: 0px 5px 20px rgba(96, 125, 139, 0.3);
}

