.Button {
  width: 190px;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
padding: 15px 10px;

  font-weight: bold;
  text-align: center;
  border-radius: 4px;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}
.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}
.info {
  background-color: #00bcd4;
  text-align: center;
}
.apple{
  background: #607D8B;
  background-image: url('../../../assets/buttom/ios.png');
 
  background-position: left;
  height:48px;
  width: 213px;
  background-repeat: no-repeat; 
  background-size: contain ;
  text-align: right;

}
.android{
  background-color: #85C02B;
  background-image: url('../../../assets/buttom/android.png');
  background-position: left;
  height:48px;
  width: 213px;

  background-repeat: no-repeat; 
  background-size: contain ;
  text-align: right;
  margin:20px 24px;
}
