.Button {
  width: 190px;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
padding: 15px 0;

  font-weight: bold;
  text-align: center;
  border-radius: 4px;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}
.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}
.info {
  background-color: #00bcd4;
  text-align: center;
}
