.Cart {
  width: 274px;
  height: 264px;
  background: #ffffff;
  background: #ffffff;
  /* OMG */

  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.Imoji {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 31px 24px;
  border-radius: 50%;
}
.Name {
  background-color: white;
  font-size: 16px;

  text-align: center;

  color: rgba(0, 0, 0, 0.72);
}

.Content {
margin: 0 24px;
  color: rgba(0, 0, 0, 0.64);
  line-height: 170%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  position: relative;
}
