
  .backDownImage{
    background-image: url('../../assets/buttom/down.png');
    background-repeat: no-repeat; 
    background-position: center;
    background-position: center left;
    text-align: right;
    width: 800px;
  
}

.backBtnImage{
    background-image: url('../../assets/buttom/drop.png');
    border-bottom: 1px solid rgba(210, 210, 210, 0.64);
  background-repeat: no-repeat; 
  background-position: center left;
  text-align: right;
  width: 100%;
}
