.Input{
    width:100%;
    box-sizing: border-box;
}
.Label{
    font-weight: bold;
    margin-bottom: 8px;
    display: block;  
}
.InputElement{
    outline: none;
    border: 1px solid #423d3d;
    background-color: #FFFFFF;
    font: inherit;
    padding:6px 10px;
    display: block;
    width: 424px;
    height: 48px;
    box-sizing: border-box;
    margin:20px 32px;
    border-radius: 4px;
}
.InputElement:focus{
    outline: none;
    background-color:white;
}
.Invalid{
    border: 1px solid red;
    background-color: #f8afa7;
}
.Type-1{
    width: 204px;
height: 48px;
}