@mixin dis-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Best-Stuff-Container {
    @include dis-col;
    background: #ffffff;

  }
  
  .Best-Stuff-Title {
    margin-top: 48px;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
  }
  
  .Best-Stuff-Content {
    font-size: 16px;
    line-height: 215%;
    padding: 10px 216px;
    text-align: center;
  
    color: rgba(0, 0, 0, 0.72);
  }
  