.WhatContainer {
  font-display: flex;
  flex-direction: column;
  align-items: center;
  font-family: IRANSans;
}
.WhatTitr {
  text-align: right;
  padding: 0px;
  position: relative;
  margin-top: 155px;
  right: 735px;
  font-size: calc(16px + 8 * ((100vw - 320px) / 200));
}

.BackImage {
  box-sizing: border-box;
  position: absolute;
  right: 25px;
  background-image: url("../../../assets/image/Webp.png");
  width: 100%;
  height: 432px;
  background-repeat: no-repeat;
  background-size: cover;
}

.PinWhat {
  position: relative;
  width: 100%;
  text-align: center;

  z-index: -1;
}
.PinWhat ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 300px;
}
.PinWhat li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1000px) {
  .WhatTitr {
    text-align: center;
    margin: 150px;
    position: unset;
    font-size: 32px;
    line-height: 130%;
  }
.BackImage{
display: flex;
flex-flow: column;
align-items: center;
}
.PinWhat{
  padding-top: 5px
}
  
}
